<select
  [ngClass]="['app-textbox', class]"
  [title]="hint"
  [disabled]="disable" 
  [required]="required" 
  [tabindex]="tabindex"
  [(ngModel)]="datavalue"
  [hidden]="!show"
  (change)="this.datavalueChange.emit(this._datavalue)"
  [ngStyle]="{
    'width':width, 
    'height':height,
    'font-size': fontsize+fontunit,
    'font-family': fontfamily,
    'color': color,
    'font-style': fontstyle,
    'text-align': textalign,
    'margin': margin
    }"
  >
    <option 
      *ngFor="let option of dataset" 
      [value]="datafield ? option[datafield] : option">{{option[displayfield]}}</option>
</select>