<div class="panel panel-info">
    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-heading">
          <p>Caption</p>
        </div>
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-6 property-w">
              <input type="text" [(ngModel)]="caption" />
            </div>
            <div class="col-sm-6 component-w">
              <wm-label [caption]="caption" [class]="'text-warning'"></wm-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-heading">
          <p>class</p>
        </div>
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-6 property-w">
              <input type="text" [(ngModel)]="class" />
            </div>
            <div class="col-sm-6 component-w">
              <wm-label [caption]="'Label'" [class]="class"></wm-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-heading">
          <p>width</p>
        </div>
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-6 property-w">
              <input type="text" [(ngModel)]="width" />
            </div>
            <div class="col-sm-6 component-w">
              <wm-label [caption]="'Label'" [width]="width"></wm-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <p>height</p>
          </div>
          <div class="panel-body">
            <div class="row clearfix">
              <div class="col-sm-6 property-w">
                <input type="text" [(ngModel)]="height" />
              </div>
              <div class="col-sm-6 component-w">
                <wm-label [caption]="'Label'" [height]="height"></wm-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
