<div class="col-sm-8 component-props">
        
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Dataset Properties</p>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6 property">
                                    <div class="col-sm-6 property-label">
                                        <span>Data Field</span>
                                    </div>
                                    <div class="col-sm-6 property-value">
                                        <select [(ngModel)]="datafield">
                                            <option *ngFor="let key of keys" [value]="key">{{key}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-6 property-label">
                                        <span>Display Field</span>
                                    </div>
                                    <div class="col-sm-6 property-value">
                                        <select [(ngModel)]="displayfield">
                                            <option *ngFor="let key of keys" [value]="key">{{key}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Behavior Properties</p>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6 property">
                                    <div class="col-sm-6 property-label">
                                        <span>Required</span>
                                    </div>
                                    <div class="col-sm-6 property-value">
                                        <input type="checkbox" [(ngModel)]="required">
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-6 property-label">
                                        <span>Disable</span>
                                    </div>
                                    <div class="col-sm-6 property-value">
                                        <input type="checkbox" [(ngModel)]="disable">
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-6 property-label">
                                        <span>Show</span>
                                    </div>
                                    <div class="col-sm-6 property-value">
                                        <input type="checkbox" [(ngModel)]="show">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Accessibility Properties</p>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Hint</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="text" [(ngModel)]="hint">
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Tab Index</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="number" [(ngModel)]="tabindex">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Layout Properties</p>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Width</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="text" [(ngModel)]="width">
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Height</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="text" [(ngModel)]="height">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p>Style Properties</p>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Font Size</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="number" [(ngModel)]="fontsize">
                                    </div>
                                </div>
                                <div class="col-sm-6 property">
                                    <div class="col-sm-3 property-label">
                                        <span>Color</span>
                                    </div>
                                    <div class="col-sm-9 property-value">
                                        <input type="text" [(ngModel)]="color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-sm-4 component-result">
            <wm-select
                    [dataset]="options"
                    [datafield]="datafield"
                    [displayfield]="displayfield"
                    [width]="width"
                    [required]="required"
                    [disable]="disable"
                    [width]="width"
                    [height]="height"
                    [hint]="hint"
                    [tabindex]="tabindex"
                    [fontsize]="fontsize"
                    [color]="color"
                    [show]="show"
                    [(datavalue)]="datavalue"></wm-select>
        </div>